@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;400;500;600;700&display=swap");

body {
  font-family: "Overpass", sans-serif;
  padding: 0 1.5rem;
  background-color: hsl(216, 12%, 8%);
}
